html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.so-target {
    display: none;
}

#so-overlay, #so-target-box, #so-close-button {
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#so-overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    opacity: 0;
    cursor: pointer;
}

#so-target-box {
    background: white;
    box-shadow: 0px 0px 10px black;
    border-radius: 5px;
    border: 5px solid rgba(0,0,0,0.7);
    margin: 0px auto;
    width: 0px;
    height: 0px;
    overflow: hidden;
    position: relative;
    z-index: 100000;
    opacity: 0;
    /*resize: both;*/
}

#so-target-box:hover .so-image-description {
    opacity: 1;
}

#so-close-button-wrapper {
    position: relative;
    height: 0px;
    overflow: visible;
    z-index: 1000000;
    margin: 0px auto;
    opacity: 0;
}

#so-close-button-wrapper, #so-target-box {
    top: 5%;
}

.so-loading {
    margin: 0px auto;
    margin-top: 45%;
    color: gray;
    font-family: sans-serif;
}

#so-close-button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
    background: url('../img/close.png');
    cursor: pointer;
}

.so-image-description {
    width: 100%;
    position: absolute;
    bottom: -0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 5px black;

    /*if you set opacity to 1, image description will be always visible, not only on hover*/
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.so-description-text {
    color: rgb(230,230,230);
    font-family: sans-serif;
    font-size: 12pt;

    /*as this is style for 'p' element I recommend to use margin property*/
    margin: 10px 10px;
}

